extends layout

block content
  .container
    h1 #{__('Block')}
    .well#block1chain1well
      form.form-horizontal

        .form-group
          label.col-sm-2.control-label(for='block1chain1number') #{__('Block')}:
          .col-sm-10
            .input-group
              span.input-group-addon #
              input#block1chain1number.form-control(type='number', value='1' onchange='updateHash(1, 1);' onkeyup='updateHash(1, 1);')

        .form-group
          label.col-sm-2.control-label(for='block1chain1nonce') #{__('Nonce')}:
          .col-sm-10
             input#block1chain1nonce.form-control(type='text', value='72608', onkeyup='updateHash(1, 1);')

        .form-group
          label.col-sm-2.control-label(for='block1chain1data') #{__('Data')}:
          .col-sm-10
            textarea#block1chain1data.form-control(rows='10', onkeyup='updateHash(1, 1);')

        #state.form-group
          label.col-sm-2.control-label(for='block1chain1hash') #{__('Hash')}:
          .col-sm-10
            input#block1chain1hash.form-control(type='text', disabled)

        .form-group
          .col-sm-2
            i.icon-spinner.icon-spin.icon-large
          .col-sm-10
            button#block1chain1mineButton.btn.btn-primary.ladda-button(data-style='expand-right')
              span.ladda-label #{__('Mine')}
        .form-group
          .col-sm-2
            i.icon-spinner.icon-spin.icon-large
          .col-sm-10
            button#block1chain1myButton.btn.btn-primary.ladda-button(data-style='expand-right')
              span.ladda-label 执行300次
  script.

    $(function() {
      mineButtonAnimation(1, 1);
      updateHash(1, 1);
      myfunction(1,1);

      
    });

    function getText(block, chain) {
      return $('#block'+block+'chain'+chain+'number').val() +
             $('#block'+block+'chain'+chain+'nonce').val() +
             $('#block'+block+'chain'+chain+'data').val();
    }

    var maxexcutimes=300,excu_many_times_flag=0;

    var temp="";


    var sum_times=0,sum_cnt=0;
    function myfunction(block,chain){
      
      $('#block'+block+'chain'+chain+'myButton').click(function(t) {
          t.preventDefault();
          excu_many_times_flag=1;

          for(let i=1;i<=maxexcutimes;i++)
          {
              $('#block'+block+'chain'+chain+'mineButton').click();
          }
          
      });

    }

    
    function mineButtonAnimation(block, chain) {
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
            setTimeout(function() {
              tot_cnt=0,tot_times=0;
              for(let idx=1;idx<=1000;idx++)
              {
                l.start();
                $('#block'+block+'chain'+chain+'data').val(idx.toString());
                mine(block, chain, false);

                l.stop();
              }
              sum_times+=tot_times;
              sum_cnt++;
              console.log("");
              if(sum_cnt===maxexcutimes&&excu_many_times_flag===1)
              {
                  console.log("tot_cnt: "+sum_cnt+", tot_times: "+sum_times+"ms, ave_times: "+Math.floor(sum_times/maxexcutimes)+"ms."); 
                  excu_many_times_flag=0;
              }

              }, 250); // give UI time to update
          
          });
    
    }
